* {
  margin: 0;
  box-sizing: border-box;
}

/* ******* Ocultar paginas ******* */

#about_RM,
#Personajes,
#PersonajesMenu,
#Grafics {
  display: none;
}

/* ******* todas las paginas ******* */
body {
  width: 100%;
  background: #eaeaea;
}
.header {
  background: #d1d94b;
  padding: 5%;
  width: 100%;
  height: 80px;
  top: 1%;
  left: 0%;
}
.nav {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer;
}
.logo {
  height: 150px;
  width: 250px;
  padding: 0 40px;
  margin-top: -5%;
}

/* Bar Menu */
.nav-link {
  color: rgb(36, 34, 34);
  text-decoration: none;
}
.nav-menu {
  display: flex;
  margin-right: 10px;
  list-style: none;
}
.nav-menu-item {
  font-size: 22px;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  margin: 0 10px;
  text-transform: uppercase;
  width: max-content;
}
.nav-menu-link {
  padding: 8px 12px;
  border-radius: 8px;
}
.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #98ddca;
  transition: 0.5s;
}
.nav-bars {
  color: rgb(46, 45, 45);
  background: none;
  border: none;
  font-size: 22px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

/* Footer*/
footer img {
  height: 3vw;
  cursor: pointer;
  width: auto;
  padding: 0vw 0.5vw;
}
.networks {
  width: 20vw;
  left: 2%;
}

/* ******* Home ******* */

.container {
  margin: 100px;
  background: #77e4d4;
  padding: 0px;
  max-width: 50%;
  width: 700px;
  height: 450px;
  position: absolute;
  left: 0%;
  top: 20%;
  overflow: hidden;
  box-shadow: 0 0 5px 5px #fcffa6;
  border-radius: 10px;
}

.slider li {
  width: 100%;
  list-style: none;
}
ul.slider {
  display: flex;
  padding: 0;
  width: 700%;
  height: 450px;
  margin-top: 0px;

  animation: slide 35s infinite alternate ease-in-out;
}

ul.slider li img {
  width: 100%;
  height: 100%;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }

  14% {
    margin-left: -100%;
  }
  34% {
    margin-left: -100%;
  }

  38% {
    margin-left: -200%;
  }
  48% {
    margin-left: -200%;
  }

  52% {
    margin-left: -300%;
  }
  62% {
    margin-left: -300%;
  }

  66% {
    margin-left: -400%;
  }
  76% {
    margin-left: -400%;
  }

  80% {
    margin-left: -500%;
  }
  90% {
    margin-left: -500%;
  }

  94% {
    margin-left: -600%;
  }
  100% {
    margin-left: -600%;
  }
}
#imgTitle {
  width: 450px;
  height: 200px;
  position: absolute;
  right: 8%;
  top: 17%;
}
.description {
  background: #b5deff;
  margin: auto;
  padding: 40px;
  max-width: 50%;
  width: 500px;
  height: 350px;
  position: absolute;
  right: 7%;
  top: 44%;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #998ceb;
}
.description p {
  font-size: 30px;
  text-align: justify;
  margin-top: 0px;
  font-family: "Road Rage", cursive;
}

/* ******* Acerca de ******* */

.About_RM {
  margin: 2% 3% 3% 2%;
  background: #97ce4c;
  border-radius: 10px;
  padding: 30px;
  width: 95%;
  height: auto;
}
h1 {
  text-align: center;
  margin: 2%;
  text-align: center;
  font-size: 40px;
}
.About_RM img {
  width: 450px;
  height: 350px;
  border-radius: 5px;
  float: left;
  padding: 1%;
}
.About_RM p{
  font-family: "Indie Flower", cursive;
  font-size: 22px;
  text-align: justify;
  margin: 3%;
}


/* ******* Personajes ******* */
/* BackGround Character Container*/
#Personajes {
  background: url(images/FondoRM.png);
  background-size: 100%;
  margin: 0% 3% 10% 3%;
  width: 90%;
  height: auto;
  border-radius: 10px;
  position: center;
}
h2 {
  font-family: "Shadows Into Light", cursive;
  font-size: 40px;
  text-align: center;
}
/* Filter Menu*/
#PersonajesMenu {
  background: #d1d94b;
  width: 80%;
  margin-left: 8%;
  margin-top: 5%;
  border-radius: 5px;
  padding-left: 5%;
}
.nav-menu1{
  display: flex;
}
.nav-menu1 label {
  background: transparent;
  margin: 15px 20px;
  width: 150px;
  padding: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration-line: underline;
}
.labFieldset{
  margin: 10% 5%;
  top: 10px;

}
.nav-menu1 select {
  background: transparent;
  font-family: "Indie Flower", cursive;
  border: none;
  font-size: 20px;
  height: 40px;
  padding: 5px;
  width: 140px;
  border-radius: 10px;
}
.nav-menu1 select:hover {
  background: #77e4d4;
}
.nav-menu1 button {
  background: transparent;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  margin: 0%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.nav-menu1 button:hover {
  background: #77e4d4;
}
.Order_Alphabetic {
  display: flex;
}
.button_alphabet {
  width: 30%;
  margin-top: 10%;
  padding: 0%;
}
.filter_by {
  margin: 5px;
}


/* Character Container*/
.character-container {
  background: none;
  margin: -4% 0% 0% 0%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.cont-personajes {
  width: 18%;
  margin: 5% 0% 1% 4%;
  padding: 10px;
  background: white;
  position: center;
  border-radius: 10px;
}
.name p {
  position: center;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 28px;
}
.card img {
  width: 80%;
  height: 70%;
  border-radius: 10px;
  margin: 2% 5% 5% 10%;
}
.info p {
  margin: 0%;
  text-align: left;
  font-family: "Indie Flower", cursive;
  font-size: 21px;
}
.info ul{
  padding: 0%;
}
.name ul{
  padding: 2px;
  text-align: center;
}

/* ******* Grafics ******* */
.columns {
  background: #77e4d4;
  margin: 8% 5% 1% 8%;
  padding: 10px;
}

/* ******* responsive ********/
@media (max-width: 992px) {
  /* ******* todas las paginas ******* */
  .header {
    padding: 0%;
    height: 60px;
  }
  .logo {
    height: 100px;
    width: 150px;
    padding: 0 10px;
    margin-top: -2%;
  }

  /*Bar Menu*/
  .nav-menu {
    display: block;
  }
  .nav-bars {
    line-height: 60px;
    display: block;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    background-color: yellowgreen;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
    z-index: 1;
  }
  .nav-menu-item {
    line-height: 70px;
  }
  .nav-menu-link:hover {
    background: none;
    color: #53f0d8;
  }
  .nav-bars {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
    display:  block;
  }
  .nav-bars:focus:not(:focus-visible) {
    outline: none;
  }

  /* Footer*/
  .networks {
    top: 20%;
  }

  /* ******* Home ******* */
  .container {
    height: 250px;
    position: absolute;
    left: 10%;
    top: 25%;
  }
  ul.slider li img {
    height: 60%;
  }
  #imgTitle {
    width: 50%;
    height: 30%;
    right: 25%;
    top: 5%;
  }
  .description {
    max-width: 100%;
    padding: 2%;
    width: auto;
    height: auto;
    left: 5%;
    top: 80%;
  }
  .description p {
    font-size: 20px;
  }

 /* ******* Acerca de ******* */
 .About_RM {
  margin-top: 5%;
  padding: 10px;
  position: absolute;
  display: block;
}
h1 {
  position: relative;
  top: 10%;
  font-size: 30px;
}
.About_RM img {
  width: 300px;
  height: 280px;
  border-radius: 5px;
  float: left;
  padding: 1%;
}
.About_RM p{
  font-family: "Indie Flower", cursive;
  font-size: 18px;
  text-align: justify;
  margin: 3%;
}

/* ******* Personajes ******* */
/* BackGround Character Container*/
h2 {
  font-size: 30px;
}
/* Filter Menu*/
.nav-menu1{
  display: block;
}
.button_alphabet {
  width: 15%;
  margin-top: 0%;
  margin-right: 0%;
}

/* Character Container*/
.character-container {
  margin: 0%;
}
.cont-personajes {
  width: 28%;
}
.name p {
  font-size: 18px;
  padding: 0%;
}
.info p {
  font-size: 18px;
}


  /* ******* Grafics ******* */
  .columns {
    background: #77e4d4;
    margin: 8% 5% 1% 8%;
    padding: 10px;
    flex-direction: column;
  }

}
@media (max-width: 1400px) {
  /* ******* todas las paginas ******* */
  .header {
    padding: 0%;
    height: 80px;
  }
  .logo {
    height: 100px;
    width: 150px;
    padding: 0 10px;
    margin-top: 0%;
  }
  .nav-menu{
    margin-top: 3%;
  }

  /* ******* Home ******* */
  .container {
    left: 15%;
    top: 20%;
  }
  ul.slider {
    display: flex;
    padding: 0;
    width: 700%;
    height: 450px;
    margin-top: 0px;
  }
  #imgTitle {
    width: 40%;
    height: 20%;
    right: 30%;
    top: 10%;
  }
  .description {
    max-width: 100%;
    padding: 2%;
    width: auto;
    height: auto;
    left: 5%;
    top: 100%;
    margin-bottom: 5px;
  }
  .description p {
    font-size: 30px;
  }

 /* ******* Acerca de ******* */
 .About_RM {
  margin-top: 5%;
  padding: 10px;
  position: absolute;
  display: block;
}
h1 {
  position: relative;
  top: 10%;
  font-size: 40px;
}
.About_RM img {
  width: 300px;
  height: 280px;
  border-radius: 5px;
  float: left;
  padding: 1%;
}
.About_RM p{
  font-family: "Indie Flower", cursive;
  font-size: 18px;
  text-align: justify;
  margin: 3%;
}

/* ******* Personajes ******* */
/* BackGround Character Container*/
h2 {
  font-size: 40px;
}
/* Filter Menu*/
#PersonajesMenu {
  width: 80%;
}

.nav-menu1{
  display: flex;
}
.nav-menu1 label {
  font-size: 15px;
  margin-top: 22%;
}
  .nav-menu1 select {
  font-size: 18px;
  height: auto;
  width: 110px;
  margin-top: 20%;
}
.nav-menu1 button {
  font-size: 18px;
}
.Order_Alphabetic {
  display: flex;
}
.button_alphabet {
  width: 45%;
  margin-top: 10%;
}
.filter_by {
  margin: 0px;
}

/* Character Container*/
.character-container {
  margin: 0%;
}
.cont-personajes {
  width: 28%;
}
.name p {
  font-size: 25px;
  text-align: center;
  padding: 0%;
}
.info p {
  font-size: 20px;
}


  /* ******* Grafics ******* */
  .columns {
    background: #77e4d4;
    margin: 8% 5% 1% 8%;
    padding: 10px;
    flex-direction: column;
  }

}
